# Supabase Configs
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

# AbabilPay API Key
ABABIL_API_KEY=sk_test_...

# Base API URL
NEXT_PUBLIC_API_URL=http://localhost:3000
